<div class="container letra">
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 235px;">
            <br>
            <h5 class="text-center">Soluciones Informáticas a Tu Alcance, Desde el Software hasta la Reparación</h5>
            <h1 class="text-center">Servicios Técnicos de Mercy Developer</h1>

            
            <div class="pt-5 row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/98.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Sistemas Operativos</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/456489598_2519837488224796_493320068497481550_n.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Software de Oficina</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/reparacion-de-software-y-hardware-de-computadores.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">reparación de computadoras</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem; width: 100%; margin-top: 50px;">
                    <div class="d-flex align-items-center">
                      <img src="assets/certificacion-de-red.jpg" alt="Descripción de la imagen" class="img-fluid me-3" style="width: 500px;">
                      <div>
                        <h1>Instalación de Puntos de Red PRO</h1>
                        <p>Unos de los Servicios mas vendidos en la plataforma.</p>
                        <p style="font-family: Comic Sans; font-size: xxx-large; font-weight: bold; "><mark>$25.000 + IVA</mark></p>
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Detalle</button>
                      </div>
                    </div>
                  </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Puntos de Red</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5>Servicios de Instalación</h5>
                <ul>
                    <li>Tipo de cable: Especificar el tipo (CAT5e, CAT6, fibra óptica, etc.).</li>
                    <li>Cantidad de puntos: Número y ubicación de los puntos de red.</li>
                    <li>Conectores y tomas: Tipo de conector (RJ45, keystone, blindado, etc.)</li>
                    <li>Cableado estructurado: Organización y uso de racks/paneles de parcheo.</li>
                    <li>Puntos de acceso: Inclusión de switches o puntos de acceso inalámbricos.</li>
                    <li>Normativas: Cumplimiento de estándares (ISO/IEC, TIA-568).</li>
                    <li>Pruebas: Verificación de conectividad y rendimiento.</li>
                    <li>Mantenimiento: Recomendaciones para el cuidado y soporte técnico.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
